/* this is for the granim.js  */
/* #canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

/* this is to make the title and subtitle appear OVER the granim canvas  */
.title,
.subtitle {
  position: absolute;
}

/* stuff for mo.js */
body, html {
  padding: 0;
}

body {
  background: rgba(241, 226, 215, 0.2);
  // background: #333;
}